
#wrapper{width: 1000px; height: 800px;margin: auto;}
header{margin: 1%;background-color: black;color: white;height: 10%;text-align: center;}
nav{background-color: black;height: 4%;text-align: center;margin-bottom: 1%;margin-right: 1%;margin-left: 1%;color: white;}
#main{background-color: black;height: 53%;text-align: center;margin-bottom: 1%;;margin-left: 1%;color: white;width: 73%;margin-right: 1%;float: left;}
#aside{background-color: black;float: left;height: 53%;width:24%;margin-right: 1%;color: white;text-align: center; }
#fott{background-color: black;width: 98%;margin-right:1%;margin-left: 1%;margin-bottom:1%;height: 4%;color: white; clear:both;}
li{float: left; width: 100px;}
a{display: block;line-height: 200%;}
a:hover{background-color: white;}
ul{list-style: none;margin:0px;padding: 0px;}
#sch{float: left;width: 230px;}
p{color: white;font-size: 10pt;}